h1{
    border-style: solid;
    border-width: sm;
    border-color:cadetblue;
}
body{

    background-color: black;
    color:cadetblue;
}
a:visited{
    color: white;
}

.class{
    margin: 25px;
    font-weight: bold;
    text-align: center;    

}

.card-body{
    background-color: cadetblue;
}
.card-text{
    color: white;
}
